CSS

/* style.css */
body{
 font-family:Arial,sans-serif;
 margin:0;
 padding:0;
 background-color:#f1f1f1;
}


.chat-container{
 width:350px;
 height:500px;
 background-color:whitw;
 border-radius:10px;
 box-shadow:0 0 15px rgba(0,0,0,0.1);
 overflow:hidden;
 margin:50px auto;
 display:flex;
 flex-direction:column;
}


.chat-box{
 flex:1;
 padding:10px
 overflow-y:scroll;
 display:flex;
 flex-direction:column;
}


.user-input{
 display:flex;
 padding:10px;
 background-color:#f1f1f1;
 border-top:1px solid #ccc;
}

.user-input button{
  padding:10px 15px;
  margin-left:10px;
  background-color:#4CAF50;
  color:white;
  border:none;
  border-radius:;20px;
  cursor:pointer;
}

.user-input button:hover{
  background-color:#45a049;
}

.message{
  margin:10px 0;
}

.user-message{
  text-align:right;
  background-color:#e1f7d5;
  padding:10px;
  border-radius:10px;
  max-width:70%;
}

.bot-message{
  text-align:left;
  background-color:#f1f1f1;
  padding:10px;
  border-radius:10px;
  max-width:70%;
}
